@tailwind base;
@tailwind components;
@tailwind utilities;

.link-underline {
  position: relative;
}

.link-underline::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0; 
  background-color: #3C0E0E;
  transition: all 0.3s;
}

.link-underline:hover::before {
  width: 100%;
}